.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #bea74b;
}

.enlaces {
  color: black;
  text-decoration: none;
}
.color-botones-productos {
  background-color: rgb(155, 155, 4);
  color: white;
  height: 30px;
  margin-top: 10px;
}

.color-botones-productos:hover {
  background-color: black;
}

.logo {
  width: 100px;
}

/* Estilos para dispositivos de escritorio */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(215, 215, 175);
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(179, 179, 106);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Estilos adicionales para el carrito en dispositivos de escritorio */
.desktop-menu {
  margin-top: 20px;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
  .hamburger-menu {
    display: block;
    cursor: pointer;
    padding: 10px;
  }

  .dropdown.mobile-hidden {
    display: none !important;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    background-color: rgba(
      190,
      167,
      75,
      0.8
    ); /* Agrega un fondo con transparencia */
    backdrop-filter: blur(5px); /* Aplica un filtro de desenfoque */
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
    z-index: 0;
  }

  .mobile-menu a {
    color: black;
    padding: 12px 15px;
    text-decoration: none;
    display: block;
    background-color: rgb(215, 215, 175);
  }

  .mobile-menu a:hover {
    background-color: rgb(179, 179, 106);
  }

  .desktop-menu {
    display: none;
  }
}
