.productos-center {
  background-color: #feeeb8;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.centrar-descripcion {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #f8de7e;
}
